<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- ROS2 Control -->
    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find go2_description)/config/ros_control.yaml</parameters>
            <ros><remapping>/controller_manager/robot_description:=/robot_description</remapping></ros>
        </plugin>
    </gazebo>

    <!-- Sensor Plugins -->
    <gazebo>
        <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>
        <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu"/>
        <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher"/>
    </gazebo>

    <!-- Odometry -->
    <gazebo>
        <plugin filename="libgz-sim-odometry-publisher-system"
            name="gz::sim::systems::OdometryPublisher">
            <odom_frame>odom</odom_frame>
            <robot_base_frame>base_link</robot_base_frame>
            <odom_topic>odom</odom_topic>
            <tf_topic>tf</tf_topic>
            <dimensions>2</dimensions>
            <odom_publish_frequency>10</odom_publish_frequency>
        </plugin>
    </gazebo>

    <!-- Lidar -->
    <gazebo reference="lidar_link">
        <sensor name="gpu_lidar" type="gpu_lidar">
            <topic>scan</topic>
            <update_rate>50</update_rate>
            <gz_frame_id>lidar_link</gz_frame_id>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>440</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.141592653589793</min_angle>
                        <max_angle>3.141592653589793</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>3.5</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </lidar>
            <always_on>1</always_on>
            <visualize>true</visualize>
        </sensor>
    </gazebo>

    <!-- Camera -->
    <gazebo reference="camera_link">
        <sensor type="camera" name="camera">
            <update_rate>30.0</update_rate>
            <topic>camera</topic>
            <gz_frame_id>camera_link</gz_frame_id>
            <camera>
                <camera_info_topic>camera/camera_info</camera_info_topic>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
            </camera>
        </sensor>
    </gazebo>

    <!-- IMU -->
    <gazebo reference="imu_link">
        <sensor name="imu_sensor" type="imu">
            <always_on>1</always_on>
            <update_rate>50</update_rate>
            <frame_id>imu_frame</frame_id>
            <visualize>true</visualize>
            <topic>imu/data</topic>
        </sensor>
    </gazebo>

    <!-- Physical Parameters -->
    <gazebo reference="trunk">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <kp>10000.0</kp>
        <kd>0.5</kd>
    </gazebo>

    <!-- FL leg -->
    <gazebo reference="lf_hip_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>

    </gazebo>
    <gazebo reference="lf_upper_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <kp>5000.0</kp>
        <kd>0.5</kd>
    </gazebo>
    <gazebo reference="lf_lower_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="lf_foot_link">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <kp>5000.0</kp>
        <kd>0.5</kd>
    </gazebo>

    <!-- FR leg -->
    <gazebo reference="rf_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>
    <gazebo reference="rf_upper_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <kp>5000.0</kp>
        <kd>0.5</kd>
    </gazebo>
    <gazebo reference="rf_lower_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="rf_foot_link">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <kp>5000.0</kp>
        <kd>0.5</kd>
    </gazebo>

    <!-- RL leg -->
    <gazebo reference="lh_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>
    <gazebo reference="lh_upper_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <kp>5000.0</kp>
        <kd>0.5</kd>
    </gazebo>
    <gazebo reference="lh_lower_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="lh_foot_link">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <kp>5000.0</kp>
        <kd>0.5</kd>
    </gazebo>

    <!-- RR leg -->
    <gazebo reference="rh_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>
    <gazebo reference="rh_upper_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <kp>5000.0</kp>
        <kd>0.5</kd>
    </gazebo>
    <gazebo reference="rh_lower_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="rh_foot_link">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <kp>5000.0</kp>
        <kd>0.5</kd>
    </gazebo>
</robot>